@charset "UTF-8";

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-Black.woff") format("woff"), url("../fonts/Barlow-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-Extra-Bold.woff") format("woff"), url("../fonts/Barlow-Extra-Bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-Bold.woff") format("woff"), url("../fonts/Barlow-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-SemiBold.woff") format("woff"), url("../fonts/Barlow-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-Medium.woff") format("woff"), url("../fonts/Barlow-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-Regular.woff") format("woff"), url("../fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-Light.woff") format("woff"), url("../fonts/Barlow-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-ExtraLight.woff") format("woff"), url("../fonts/Barlow-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-Thin.woff") format("woff"), url("../fonts/Barlow-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._iconFont {
  font-size: 20px;
  color: #000000;
}

._icon-ok:before {
  content: "";
}

._icon-facebook:before {
  content: "";
  color: #fff;
}

._icon-linkedin:before {
  content: "";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*:before,
*:after {
  display: inline-block;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Barlow";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #EFF6FF;
  color: #2A4A5C;
  font-size: 1.4rem;
  font-family: "Barlow";
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.registration-form {
  padding: 8% 4%;
  position: relative;
}

.registration-form__body::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(123, 138, 146, 0.3);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.registration-form__body._sending::after {
  visibility: visible;
  opacity: 1;
}

.registration-form__title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 500;
}

.registration-form__title-description {
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 500;
  color: #7B8A92;
}

.registration-form__item {
  margin-bottom: 4rem;
}

.registration-form__devide {
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.registration-form__devide::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #EEEEEE;
  margin-left: 10px;
}

.registration-form__devide::before {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #EEEEEE;
  margin-right: 10px;
}

.registration-form__qestion {
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  font-weight: 500;
}

.registration-form__qestion-description {
  color: #7B8A92;
  margin-bottom: 5rem;
}

.registration-form__hint {
  width: 25rem;
  padding: 1rem;
  margin: 2rem 0 5rem 1rem;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  line-height: calc(18 / 14 * 100%);
  color: #7B8A92;
}

.registration-form__label {
  margin-bottom: 0.5rem;
  color: #7B8A92;
}

.registration-form__buttons {
  margin: 0 -1.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.registration-form__button {
  width: 24rem;
  height: 3.9rem;
  padding: 0 1.5rem;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.registration-form__button--fb {
  background-color: #255A9B;
}

.registration-form__button--in {
  background-color: #0076B6;
}

.registration-form__button--main {
  margin-top: 2rem;
  border-radius: 5px;
  background-color: #3698FB;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.registration-form__button ._fontIcon {
  font-size: 1.8rem;
  margin-right: 1.2rem;
}

.data-inputs {
  margin: 0 -1.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.data-inputs__item {
  width: 24rem;
  padding: 0.5rem 0.7rem 1rem;
  margin: 1rem;
  border: 1px solid #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.data-inputs__item:focus-within {
  border-left: 2px solid #3698FB;
}

.data-inputs__label {
  margin-bottom: 0.5rem;
}

.data-inputs__input {
  font-size: 1.6rem;
  font-weight: 500;
}

.data-inputs__item._error {
  -webkit-box-shadow: 0px 3px 5px rgba(255, 0, 0, 0.1);
          box-shadow: 0px 3px 5px rgba(255, 0, 0, 0.1);
}

.type-investor {
  margin: 0 -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.type-investor__item {
  margin: 1rem 2rem;
}

.type-investor__radio {
  display: none;
}

.type-investor__radio:checked + .type-investor__label::before {
  border: 4px solid #3698FB;
}

.type-investor__label {
  font-size: 1.6rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type-investor__label::before {
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 1rem;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #EEEEEE;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agreement__checkbox {
  display: none;
}

.agreement__checkbox:checked + .agreement__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.agreement__label {
  position: relative;
  cursor: pointer;
}

.agreement__label::before {
  content: "";
  width: 14px;
  height: 14px;
  margin-right: 1rem;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.agreement__label::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #3698FB;
  border-radius: 2px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  position: absolute;
  top: 2px;
  left: 2px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.agreement._error .agreement__label::before {
  -webkit-box-shadow: 0 2px 8px rgba(255, 0, 0, 0.3);
          box-shadow: 0 2px 8px rgba(255, 0, 0, 0.3);
}

._btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 25rem;
}

._btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  min-width: 300px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  padding: 15px 20px;
  background: #FFFFFF;
  border-radius: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(18 / 16 * 100%);
  color: #7B7B7B;
}

textarea.input {
  resize: none;
  height: 120px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.menu__icon {
  display: none;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  padding: 0px 0px 0px 45px;
  position: relative;
}

ol.counter li:before {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #4274bb;
  border-radius: 50%;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  counter-increment: item;
  content: counter(item);
}

.ellipsis {
  width: 100%;
  display: block;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.es {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.table {
  width: 100%;
  display: table;
  font-size: 0;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-bg video,
.video-bg iframe,
.video-bg object,
.video-bg embed {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  background-size: cover;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: -100;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  width: 3px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

._custom-scroll__line {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
}

.form-wrap {
  padding: 5% 0;
}

.form-wrap__content {
  max-width: 1400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.form-wrap .logo {
  width: 130px;
  margin: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.form-wrap__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

.form-wrap__img ._ibg {
  width: 100%;
  height: 100%;
}

.form-wrap__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.form-wrap ._underline {
  color: #3698FB;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 991.98px) {
  .registration-form__button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .registration-form__button:active {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  ._btn:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  ._btn:active {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .form-wrap ._underline:hover {
    text-decoration: underline;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1440px) {
  .form-wrap__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .form-wrap__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 998px) {
  .form-wrap__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }

  .form-wrap__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .registration-form__button--main {
    margin: 0 auto;
  }

  .form-wrap__img {
    display: none;
  }

  .form-wrap__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: 435px;
  }

  .menu__icon {
    height: 20px;
    width: 30px;
    margin-left: auto;
    display: block;
    position: relative;
    z-index: 3;
  }

  .menu__icon span {
    width: 100%;
    height: 3px;
    background-color: #000;
    display: block;
    position: absolute;
    left: 0;
    -webkit-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }

  .menu__icon .stick-1 {
    top: 0;
  }

  .menu__icon .stick-2 {
    top: 8px;
  }

  .menu__icon .stick-3 {
    top: 16px;
  }

  .menu__icon._active .stick-1 {
    -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg);
    top: 9px;
  }

  .menu__icon._active .stick-2 {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__icon._active .stick-3 {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 9px;
  }

  .menu__body {
    width: 100%;
    height: 100%;
    padding: 120px 20px 20px calc(10px + (20 - 10) * (100vw - 320px) / (862));
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    overflow: auto;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 2;
  }

  .menu__body._active {
    left: 0;
  }
}

@media (max-width: 539.98px) {
  ._container {
    max-width: 320px;
    padding: 0 5px;
  }
}